<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
        <h2>会員登録</h2>

          <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :名前 %><br />
            <%= f.text_field :name %>
          </div>

          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字の最小値)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :パスワード確認 %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions">
            <%= f.submit "登録" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
   </div>
  </div>
</div>
