<% if users.exists? %>
  <% users.each do |user| %>
    <table class='table'>
      <h2>フォロワー</h2>
      <thead>
        <tr>
          <th>画像</th>
          <th>名前</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag user.get_profile_image, size:'100x100' %></td>
          <td><%= user.name %></td>
          <td>
          </td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>
          </td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <td><%= link_to '詳細', user, class: "user_#{user.id}" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <h2>フォロー</h2>
  <p>ユーザーはいません</p>
<% end %>