<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
        <h2>パスワードを忘れた場合</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :メールアドレス %><br />

            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="actions">
            <%= f.submit "パスワードのリセットの指示を送信する" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
   </div>
  </div>
</div>

