<%= form_with model: comic,local:true do |f| %>
  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: 'form-control comic_title' %>
  </div>
  <div class="form-group">
    <%= f.label :ジャンル %>
    <%= f.select :genre, options_for_select([["選択して下さい"], ["少年"], ["少女"],  ["青年"], ["女性"],["BL"]]) %>
  </div>
  <div class="form-group">
    <%= f.label :説明 %>
    <%= f.text_area :body, class: 'form-control comic_body' %>
  </div>
  <!--評価-->
  <div class="form-group" id="star">
    <%= f.label :評価 %>
    <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
  </div>
  <!--評価javascript-->
    <script>
    $(document).on('turbolinks:load', function() {
      $('#star').empty();
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'comic[rate]',
        half: true,
      });
    })
    </script>


  <div class="form-group">
    <%= f.submit :投稿, class: 'btn btn-success' %>
  </div>
<% end %>