<%= form_with model: @comic,local:true do |f| %>
  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: 'form-control comic_title' %>
  </div>
  <div class="form-group">
    <%= f.label :ジャンル %>
    <%= f.select :genre, options_for_select([["選択して下さい"], ["少年"], ["少女"],  ["青年"], ["女性"],["BL"]]) %>
  </div>
  <div class="form-group">
    <%= f.label :説明 %>
    <%= f.text_area :body, class: 'form-control comic_body' %>
  </div>
  <div class="form-group">
    <%= f.submit :投稿, class: 'btn btn-success' %>
  </div>
<% end %>