<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>説明</th>
      <th>ジャンル</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% comics.each do |comic| %>
      <tr>
        <td><%= link_to(comic.user) do %>
          <%= image_tag comic.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to comic.title,comic, class: "comic_#{comic.id}" %></td>
        <td><%= comic.body %></td>
        <td><%= comic.genre %></td>
         <td><%= render "comics/static_rate", comic: comic %></td>
        <td id="favorite_buttons_<%= comic.id %>">
          <%= render "favorites/favorites", comic: comic %>
        </td>
        <td><%= link_to "#{comic.comic_comments.count} コメント", comic_path(comic.id) %></td>
      </tr>
         <% end %>
  </tbody>
</table>
