<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
        <h2>ユーザー情報</h2>
        <%= render 'users/info', user: current_user %>
        <h2 class="mt-3">>新規投稿</h2>
        <%= render 'form', comic: @newcomic %>
    </div>
      <div class='col-md-8 offset-md-1'>
        <h2>漫画 詳細</h2>
    		<table class='table'>
    		 <tr>
    		<td><%= link_to(@comic.user) do %>
            <%= image_tag @comic.user.get_profile_image, size:"100x100" %><br>
            <%= @comic.user.name %>
            <% end %>
            </td>
            <td><%= link_to @comic.title, @comic %></td>
            <td><%= @comic.body %></td>
            <td><%= @comic.genre %></td>
            <td id="favorite_buttons_<%= @comic.id %>">
              <%= render "favorites/favorites", comic: @comic %>
            </td>
            <% if @comic.user == current_user %>
            <td><%= link_to '編集', edit_comic_path(@comic), class: "btn btn-sm btn-success edit_comic_#{@comic.id}" %></td>
            <td><%= link_to '削除', comic_path(@comic), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_comic_#{@comic.id}"%></td>
            <% end %>
         </tr>
        </table>
      <div>
        <p>コメント件数：
          <span id="num_of_comments">
            <%= @comic.comic_comments.count %>
          </span>
        </p>
        <div id="commentOutline">
          <%= render partial: "comic_comments/comment", locals: { comic: @comic }%>
        </div>
      </div>
          <div>
          <%= form_with(model:[@comic, @comic_comment], local: false) do |f| %>
            <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", id: "inputComment" %>
            <%= f.submit "送信する" %>
          <% end %>
          </div>
    </div>
  </div>
</div>